<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>191981792449-g93ub3iasklua2bn2u4ldqfjdtjhkll5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191981792449-g93ub3iasklua2bn2u4ldqfjdtjhkll5</string>
	<key>API_KEY</key>
	<string>AIzaSyAxSbv13xbl46aPSF_p9yfF_wEGjOKWA3A</string>
	<key>GCM_SENDER_ID</key>
	<string>191981792449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasonliang.W8D1-Firebase</string>
	<key>PROJECT_ID</key>
	<string>w8d1firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>w8d1firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191981792449:ios:98c7fafeaa019a91</string>
	<key>DATABASE_URL</key>
	<string>https://w8d1firebase.firebaseio.com</string>
</dict>
</plist>