<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>966363337149-gh5kgdttsgcabhomrtaaqs6n1j8meig3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966363337149-gh5kgdttsgcabhomrtaaqs6n1j8meig3</string>
	<key>API_KEY</key>
	<string>AIzaSyAv-MJUdGw5mAjjXuKXwnA5n1NgkmxHyZA</string>
	<key>GCM_SENDER_ID</key>
	<string>966363337149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jasonliang.W7D2-firebase</string>
	<key>PROJECT_ID</key>
	<string>w7d2-dc1f0</string>
	<key>STORAGE_BUCKET</key>
	<string>w7d2-dc1f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966363337149:ios:efe4ff063ca11d01</string>
	<key>DATABASE_URL</key>
	<string>https://w7d2-dc1f0.firebaseio.com</string>
</dict>
</plist>